aiofiles==0.6.0 ; python_version >= "3.11" and python_version < "3.12"
aiohttp==3.7.4 ; python_version >= "3.11" and python_version < "3.12"
astroid==2.12.12 ; python_version >= "3.11" and python_version < "3.12"
async-timeout==3.0.1 ; python_version >= "3.11" and python_version < "3.12"
attrs==20.3.0 ; python_version >= "3.11" and python_version < "3.12"
black==22.12.0 ; python_version >= "3.11" and python_version < "3.12"
blinker==1.4 ; python_version >= "3.11" and python_version < "3.12"
bugsnag==4.0.2 ; python_version >= "3.11" and python_version < "3.12"
certifi==2022.12.7 ; python_version >= "3.11" and python_version < "3.12"
chardet==3.0.4 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==2.1.1 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.3 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12"
coverage==6.5.0 ; python_version >= "3.11" and python_version < "3.12"
coverage[toml]==6.5.0 ; python_version >= "3.11" and python_version < "3.12"
coveragespace==6.0 ; python_version >= "3.11" and python_version < "3.12"
coveralls==3.3.1 ; python_version >= "3.11" and python_version < "3.12"
dill==0.3.6 ; python_version >= "3.11" and python_version < "3.12"
docopt==0.6.2 ; python_version >= "3.11" and python_version < "3.12"
exceptiongroup==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
gunicorn==20.0.4 ; python_version >= "3.11" and python_version < "3.12"
h11==0.9.0 ; python_version >= "3.11" and python_version < "3.12"
h2==4.0.0 ; python_version >= "3.11" and python_version < "3.12"
honcho==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
hpack==4.0.0 ; python_version >= "3.11" and python_version < "3.12"
hypercorn==0.13.2 ; python_version >= "3.11" and python_version < "3.12"
hyperframe==6.0.0 ; python_version >= "3.11" and python_version < "3.12"
idna==2.7 ; python_version >= "3.11" and python_version < "3.12"
iniconfig==1.1.1 ; python_version >= "3.11" and python_version < "3.12"
isort==5.11.3 ; python_version >= "3.11" and python_version < "3.12"
itsdangerous==2.0.1 ; python_version >= "3.11" and python_version < "3.12"
jinja2==3.0.3 ; python_version >= "3.11" and python_version < "3.12"
lazy-object-proxy==1.4.3 ; python_version >= "3.11" and python_version < "3.12"
markdown==3.4.1 ; python_version >= "3.11" and python_version < "3.12"
markupsafe==2.1.1 ; python_version >= "3.11" and python_version < "3.12"
mccabe==0.6.1 ; python_version >= "3.11" and python_version < "3.12"
minilog==2.1 ; python_version >= "3.11" and python_version < "3.12"
multidict==5.1.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-extensions==0.4.3 ; python_version >= "3.11" and python_version < "3.12"
mypy==0.902 ; python_version >= "3.11" and python_version < "3.12"
packaging==20.8 ; python_version >= "3.11" and python_version < "3.12"
pathspec==0.9.0 ; python_version >= "3.11" and python_version < "3.12"
pillow==9.3.0 ; python_version >= "3.11" and python_version < "3.12"
platformdirs==2.4.1 ; python_version >= "3.11" and python_version < "3.12"
pluggy==0.13.1 ; python_version >= "3.11" and python_version < "3.12"
priority==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
pylint==2.15.5 ; python_version >= "3.11" and python_version < "3.12"
pyparsing==2.4.7 ; python_version >= "3.11" and python_version < "3.12"
pytest-asyncio==0.14.0 ; python_version >= "3.11" and python_version < "3.12"
pytest-cov==4.0.0 ; python_version >= "3.11" and python_version < "3.12"
pytest-describe==2.0.1 ; python_version >= "3.11" and python_version < "3.12"
pytest-expecter==3.0 ; python_version >= "3.11" and python_version < "3.12"
pytest-vcr==1.0.2 ; python_version >= "3.11" and python_version < "3.12"
pytest-watch==4.2.0 ; python_version >= "3.11" and python_version < "3.12"
pytest==7.2.0 ; python_version >= "3.11" and python_version < "3.12"
pyyaml==5.4 ; python_version >= "3.11" and python_version < "3.12"
quart==0.18.3 ; python_version >= "3.11" and python_version < "3.12"
requests==2.28.1 ; python_version >= "3.11" and python_version < "3.12"
rope==0.14.0 ; python_version >= "3.11" and python_version < "3.12"
setuptools==65.6.3 ; python_version >= "3.11" and python_version < "3.12"
six==1.15.0 ; python_version >= "3.11" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.11" and python_version < "3.12"
tomlkit==0.10.2 ; python_version >= "3.11" and python_version < "3.12"
types-cryptography==3.3.23 ; python_version >= "3.11" and python_version < "3.12"
types-markdown==3.4.2.1 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==3.10.0.2 ; python_version >= "3.11" and python_version < "3.12"
urllib3==1.26.5 ; python_version >= "3.11" and python_version < "3.12"
uvicorn==0.18.3 ; python_version >= "3.11" and python_version < "3.12"
vcrpy==4.1.1 ; python_version >= "3.11" and python_version < "3.12"
watchdog==1.0.2 ; python_version >= "3.11" and python_version < "3.12"
webob==1.8.6 ; python_version >= "3.11" and python_version < "3.12"
werkzeug==2.2.3 ; python_version >= "3.11" and python_version < "3.12"
wrapt==1.14.1 ; python_version >= "3.11" and python_version < "3.12"
wsproto==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
yarl==1.8.1 ; python_version >= "3.11" and python_version < "3.12"
