interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/districts/5/
  response:
    body:
      string: '{"url":"http://michiganelections.io/api/districts/5/","id":5,"category":"Court
        of Appeals District","name":"3rd District"}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/districts/5/
version: 1
