interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/elections/3/
  response:
    body:
      string: '{"url":"http://michiganelections.io/api/elections/3/","id":3,"name":"State
        General","date":"2018-11-06","date_humanized":"Tuesday, November 6th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/elections/State%20General.md","active":false,"reference_url":"https://www.michigan.gov/documents/sos/2018_Dates_600221_7.pdf"}'
    headers:
      Allow: OPTIONS, GET
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/elections/3/
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/registrations/?first_name=Rosalynn&last_name=Bliss&birth_date=1975-08-03&zip_code=49503
  response:
    body:
      string: '{"registered":true,"absentee":true,"polling_location":["Mayfair Christian
        Reformed Church","1736 Lyon Ne","Grand Rapids, Michigan 49503"],"recently_moved":false,"precinct":{"url":"http://michiganelections.io/api/precincts/1173/","id":1173,"county":"Kent","jurisdiction":"City
        of Grand Rapids","ward":"2","number":"30"},"districts":[{"url":"http://michiganelections.io/api/districts/1/","id":1,"category":"Circuit
        Court District","name":"17th Circuit"},{"url":"http://michiganelections.io/api/districts/1548/","id":1548,"category":"Community
        College District","name":"Grand Rapids Community College"},{"url":"http://michiganelections.io/api/districts/56/","id":56,"category":"County","name":"Kent"},{"url":"http://michiganelections.io/api/districts/6968/","id":6968,"category":"County
        Commissioner District","name":"18th District"},{"url":"http://michiganelections.io/api/districts[...]
