interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/elections/52/
  response:
    body:
      string: '{"url":"http://michiganelections.io/api/elections/52/","id":52,"name":"November
        Consolidated","date":"2023-11-07","date_humanized":"Tuesday, November 7th","active":false,"reference_url":null}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/elections/52/
version: 1
