interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/elections/3/
  response:
    body:
      string: '{"url":"http://michiganelections.io/api/elections/3/","id":3,"name":"State
        General","date":"2018-11-06","date_humanized":"Tuesday, November 6, 2018","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/elections/State%20General.md","active":false,"reference_url":"https://www.michigan.gov/documents/sos/2018_Dates_600221_7.pdf"}'
    headers:
      Allow: OPTIONS, GET
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/elections/3/
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/registrations/?first_name=Jane&last_name=Doe&birth_date=1970-01-01&zip_code=9999
  response:
    body:
      string: '{"registered":false,"absentee":false,"polling_location":null,"precinct":null,"districts":[]}'
    headers:
      Allow: GET, HEAD, OPTIONS
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/registrations/?first_name=Jane&last_name=Doe&birth_date=1970-01-01&zip_code=9999
version: 1
