interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/ballots/?election_id=40&precinct_id=591&active_election=null
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/ballots/33935/","id":33935,"election":{"url":"http://michiganelections.io/api/elections/40/","id":40,"name":"State
        Primary","date":"2020-08-04","date_humanized":"Tuesday, August 4th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/elections/State%20Primary.md","active":true,"reference_url":null},"precinct":{"url":"http://michiganelections.io/api/precincts/591/","id":591,"county":"Marquette","jurisdiction":"Township
        of Forsyth","ward":null,"number":"2"},"mi_sos_url":"https://mvic.sos.state.mi.us/Voter/GetMvicBallot/911/682/"}]}'
    headers:
      Allow: OPTIONS, GET
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/ballots/?election_id=40&precinct_id=591&active_election=null
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/positions/?election_id=40&precinct_id=591&active_election=null&limit=1000&section=Democratic
  response:
    body:
      string: '{"count":33,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/positions/6450/","id":6450,"name":"Clerk","description":"Responsible
        for accounting of all receipts and disbursements of in regard to city funds.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/positions/Clerk.md","reference_url":null,"section":"","seats":1,"term":"","candidates":[{"url":"http://michiganelections.io/api/candidates/24756/","id":24756,"name":"Linda
        K. Talsma","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/1/","id":1,"name":"Democratic","color":"#3333FF"}}],"election":{"url":"http://michiganelections.io/api/elections/40/","id":40,"name":"State
        Primary","date":"2020-08-04","date_humanized":"Tuesday, August 4th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/elections/State%20Primary.md","active":true,"reference_url":null},"district":{"url":"http://michiganelections.io/api/districts/487/","id":487,"category":"County","name":"Marquette"}},{"url":"http://michiganelections.io/api/positions/9904/","id":9904,"name":"Clerk","description":"Responsible
        for accounting of all receipts and disbursements of in regard to city funds.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/positions/Clerk.md","reference_url":null,"section":"","seats":1,"term":"","candidates":[{"url":"http://michiganelections.io/api/candidates/35141/","id":35141,"name":"Jane
        E. No[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/proposals/?election_id=40&precinct_id=591&active_election=null&limit=1000
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/proposals/3190/","id":3190,"name":"Millage
        for the Continuation of the Marquette County Transit Authority (MARQ-TRAN)","description":"To
        provide local funds for the continuing operati[...]
