interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/ballots/?election_id=5&precinct_id=99999&active_election=null
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow: OPTIONS, GET
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/ballots/?election_id=5&precinct_id=99999&active_election=null
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/positions/?election_id=5&precinct_id=99999&active_election=null&limit=1000
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow: GET
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/positions/?election_id=5&precinct_id=99999&active_election=null&limit=1000
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/proposals/?election_id=5&precinct_id=99999&active_election=null&limit=1000
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow: GET
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/proposals/?election_id=5&precinct_id=99999&active_election=null&limit=1000
version: 1
