interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/ballots/?election_id=43&precinct_id=9774&active_election=null
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/ballots/?election_id=43&precinct_id=9774&active_election=null
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/positions/?election_id=43&precinct_id=9774&active_election=null&limit=1000
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/positions/?election_id=43&precinct_id=9774&active_election=null&limit=1000
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/proposals/?election_id=43&precinct_id=9774&active_election=null&limit=1000
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/proposals/?election_id=43&precinct_id=9774&active_election=null&limit=1000
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/elections/
  response:
    body:
      string: '{"count":12,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/elections/44/","id":44,"name":"August
        Consolidated","date":"2021-08-03","date_humanized":"Tuesday, August 3rd","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/elections/August%20Consolidated.md","active":true,"reference_url":null},{"url":"http://michiganelections.io/api/elections/42/","id":42,"name":"May
        Consolidated","date":"2021-05-04","date_humanized":"Tuesday, May 4th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/elections/May%20Consolidated.md","active":false,"reference_url":null},{"url":"http://michiganelections.io/api/elections/43/","id":43,"name":"Special
        Election","date":"2021-03-23","date_humanized":"Tuesday, March 23rd","descript[...]
