interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/positions/?election_id=41&precinct_id=1209&limit=1000
  response:
    body:
      string: '{"count":24,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/positions/47037/","id":47037,"name":"Electors
        of President and Vice-president of The United States","description":"The president
        of the United States (POTUS) is the head of state and head of government of
        the United States of America. The president directs the executive branch of
        the federal government and is the commander-in-chief of the United States
        Armed Forces.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/positions/Electors%20of%20President%20and%20Vice-president%20of%20The%20United%20States.md","reference_url":null,"section":"","seats":1,"term":"","candidates":[{"url":"http://michiganelections.io/api/candidates/78221/","id":78221,"name":"Donald
        J. Trump & Jeremy Cohen","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/2/","id":2,"name":"Republican","color":"#E81B23"}},{"url":"http://michiganelections.io/api/candidates/78223/","id":78223,"name":"Don
        Blankenship & William Mohr","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/8/","id":8,"name":"U.S.
        Taxpayers","color":"#A356DE"}},{"url":"http://michiganelections.io/api/candidates/78224/","id":78224,"name":"Howie
        Hawkins & Angela Walker","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/4/","id":4,"name":"Green","color":"#00A95C"}},{"url":"http://michiganelections.io/api/candidates/78222/","id":78222,"name":"Jo
        Jorgensen","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/3/","id":3,"name":"Libertarian","color":"#ECC850"}},{"url":"http://michiganelections.io/api/candidates/78220/","id":78220,"name":"Joseph
        R. Biden & Kamala D. Harris","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/1/","id":1,"name":"Democratic","color":"#3333FF"}},{"url":"http://michiganelections.io/api/candidates/78225/","id":78225,"name":"Rocky
        De La Fuente & Darcy Richardson","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/7/","id":7,"name":"Natural
        Law","color":"#CA0F67"}}],"election":{"url":"http://michiganelections.io/api/elections/41/","id":41,"name":"State
        General","date":"2020-11-03","date_humanized":"Tuesday, November 3rd","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/elections/State%20General.md","active":true,"reference_url":null},"district":{"url":"http://michiganelections.io/api/districts/1427/","id":1427,"category":"State","name":"Michigan"}},{"url":"http://michiganelections.io/api/positions/47036/","id":47036,"name":"Governor
        of Wayne State University","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/positions/Governor%20of%20Wayne%20State%20University.md","reference_url":null,"section":"","seats":2,"term":"","candidates":[{"url":"http://michiganelections.io/api/candidates/78218/","id":78218,"name":"Christine
        C. Schwartz","descriptio[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/proposals/?election_id=41&precinct_id=1209&limit=1000
  response:
    body:
      string: "{\"count\":4,\"next\":null,\"previous\":null,\"results\":[{\"url\":\"http://michiganelections.io/api/proposals/4694/\",\"id\":4694,\"name\":\"Proposal
        20-1\",\"description\":\"A proposed constitutional amendment to allow money
        from oil and gas mining on state-owned lands to continue to be col[...]
