interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/ballots/-1/?active_election=null
  response:
    body:
      string: '{"detail":"Not found."}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
    url: https://michiganelections.io/api/ballots/-1/?active_election=null
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/positions/?ballot_id=-1
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/positions/?ballot_id=-1
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/proposals/?ballot_id=-1
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/proposals/?ballot_id=-1
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/elections/
  response:
    body:
      string: '{"count":18,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/elections/50/","id":50,"name":"May
        Consolidated","date":"2023-05-02","date_humanized":"Tuesday, May 2nd","active":true,"reference_url":null},{"url":"http://michiganelections.io/api/elections/49/","id":49,"name":"State
        General","date":"2022-11-08","date_humanized":"Tuesday, November 8th","active":false,"reference_url":null},{"url":"http://michiganelections.io/api/elections/48/","id":48,"name":"State
        Primary","date":"2022-08-02","date_humanized":"Tuesday, August 2nd","active":false,"reference_url":null},{"url":"http://michiganelections.io/api/elections/46/","id":46,"name":"May
        Consolidated","date":"2022-05[...]
