interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/ballots/57363/
  response:
    body:
      string: '{"url":"http://michiganelections.io/api/ballots/57363/","id":57363,"election":{"url":"http://michiganelections.io/api/elections/51/","id":51,"name":"August
        Consolidated","date":"2023-08-08","date_humanized":"Tuesday, August 8th","active":true,"reference_url":null},"precinct":{"url":"http://michiganelections.io/api/precincts/3246/","id":3246,"county":"Ottawa","jurisdiction":"City
        of Coopersville","ward":null,"number":"2"},"mvic_url":"https://mvic.sos.state.mi.us/Voter/GetMvicBallot/4542/694/"}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/ballots/57363/
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/positions/?ballot_id=57363
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/positions/64766/","id":64766,"name":"Council
        Member at Large","description":"Council members vote on various zoning matters,
        oversee city agencies and programs to determine if and how money is being
        budgeted optimally, and they vote to approve the budget created by the mayor
        as well.\nAt Large - Represents a whole membership of the body (for example,
        a city, state or province, nation, club or association) as opposed to a subset
        of that membership.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/positions/Council%20Member%20at%20Large.md","reference_url":null,"section":"Nonpartisan","seats":3,"term":"","candidates":[{"url":"http://michiganelections.io/api/candidates/112140/","id":112140,"name":"Daniel
        Bowman","description":"","reference_url":"https://cfrsearch.nictusa.com/committees/97001","party":{"url":"http://michiganelections.io/api/parties/5/","id":5,"name":"Nonpartisan","color":"#999"}},{"url":"http://michiganelections.io/api/candidates/112139/","id":112139,"name":"Jamie
        Adams","description":"","reference_url":"https://cfrsearch.nictusa.com/committees/96996","party":{"url":"http://michiganelections.io/api/parties/5/","id":5,"name":"Nonpartisan","color":"#999"}},{"url":"http://michiganelections.io/api/candidates/112146/","id":112146,"name":"Jason
        Tuttle","description":"","reference_url":"https://cfrsearch.nictusa.com/committees/96997","party":{"url":"htt[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/proposals/?ballot_id=57363
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/proposals/?ballot_id=57363
version: 1
