interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/ballots/?election_id=5&precinct_id=1172&active_election=null
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/ballots/20757/","id":20757,"election":{"url":"http://michiganelections.io/api/elections/5/","id":5,"name":"November
        Consolidated","date":"2019-11-05","date_humanized":"Tuesday, November 5th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/elections/November%20Consolidated.md","active":false,"reference_url":null},"precinct":{"url":"http://michiganelections.io/api/precincts/1172/","id":1172,"county":"Kent","jurisdiction":"City
        of Grand Rapids","ward":"2","number":"36"},"mvic_url":"https://mvic.sos.state.mi.us/Voter/GetMvicBallot/1791/679/"}]}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/ballots/?election_id=5&precinct_id=1172&active_election=null
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/positions/?election_id=5&precinct_id=1172&active_election=null&limit=1000
  response:
    body:
      string: '{"count":4,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/positions/3623/","id":3623,"name":"Library
        Board Director","description":"Responsible for managing library services,
        overseeing staff, coordinating with patrons and working to improve library
        facilities.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/positions/Library%20Board%20Director.md","reference_url":null,"section":"","seats":1,"term":"","candidates":[{"url":"http://michiganelections.io/api/candidates/17340/","id":17340,"name":"Jonathan
        Helder","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/5/","id":5,"name":"Nonpartisan","color":"#999"}},{"url":"http://michiganelections.io/api/candidates/17339/","id":17339,"name":"Kathryn
        Dilley","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/5/","id":5,"name":"Nonpartisan","color":"#999"}}],"election":{"url":"http://michiganelections.io/api/elections/5/","id":5,"name":"November
        Consolidated","date":"2019-11-05","date_humanized":"Tuesday, November 5th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/elections/November%20Consolidated.md","active":false,"reference_url":null},"district":{"url":"http://michiganelections.io/api/districts/8/","id":8,"category":"Jurisdiction","name":"City
        of Grand Rapids"}},{"url":"http://michiganelections.io/api/positions/3624/","id":3624,"name":"Library
        Board Director","description":"Responsible for managing library services,
        overseeing staff, coordinating with patrons and working to improve library
        facilities.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/positions/Library%20Board%20Director.md","reference_url":null,"section":"","seats":1,"t[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/proposals/?election_id=5&precinct_id=1172&active_election=null&limit=1000
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/proposals/1009/","id":1009,"name":"City
        of Grand Rapids: City of Grand Rapids Charter Amendment authorizing the levy
        of a permanent tax millage of 1.25 mills for PARKS, POOLS AND PLAY[...]
- request:
    body:
      url: http://localhost/elections/5/precincts/1172/?proposal-1009=approve
      voter: test
    headers: {}
    method: POST
    uri: https://buddies.michiganelections.io/api/update-ballot/
  response:
    body:
      string: '

        <!doctype html>

        <html lang="en">

        <head>

        <title>Not Found</title>

        </head>

        <body>

        <h1>Not Found</h1><p>The requested resource was not found on this server.</p>

        </body>

        </html>

        '
    headers:
      Content-Type:
      - text/html
    status:
      code: 404
      message: Not Found
    url: https://buddies.michiganelections.io/api/update-ballot/
version: 1
