interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/ballots/?election_id=5&precinct_id=1172&active_election=null
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/ballots/20757/","id":20757,"election":{"url":"http://michiganelections.io/api/elections/5/","id":5,"name":"November
        Consolidated","date":"2019-11-05","date_humanized":"Tuesday, November 5th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/elections/November%20Consolidated.md","active":false,"reference_url":null},"precinct":{"url":"http://michiganelections.io/api/precincts/1172/","id":1172,"county":"Kent","jurisdiction":"City
        of Grand Rapids","ward":"2","number":"36"},"mi_sos_url":"https://mvic.sos.state.mi.us/Voter/GetMvicBallot/1791/679/"}]}'
    headers:
      Allow: OPTIONS, GET
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/ballots/?election_id=5&precinct_id=1172&active_election=null
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/positions/?election_id=5&precinct_id=1172&active_election=null&limit=1000
  response:
    body:
      string: '{"count":4,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/positions/5068/","id":5068,"name":"Commissioner
        by Ward","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/positions/Commissioner%20by%20Ward.md","reference_url":null,"seats":1,"term":"","candidates":[{"url":"http://michiganelections.io/api/candidates/21490/","id":21490,"name":"Milinda
        Ysasi","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/5/","id":5,"name":"Nonpartisan","color":"#999"}},{"url":"http://michiganelections.io/api/candidates/21489/","id":21489,"name":"Wendy
        Falb","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/5/","id":5,"name":"Nonpartisan","color":"#999"}}],"election":{"url":"http://michiganelections.io/api/elections/5/","id":5,"name":"November
        Consolidated","date":"2019-11-05","date_humanized":"Tuesday, November 5th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/elections/November%20Consolidated.md","active":false,"reference_url":null},"district":{"url":"http://michiganelections.io/api/districts/2869/","id":2869,"category":"Ward","name":"City
        of Grand Rapids, Ward 2"}},{"url":"http://michiganelections.io/api/positions/3623/","id":3623,"name":"Library
        Board Director","description":"Responsible for managing library services,
        overseeing staff, coordinating with patrons and working to improve library
        facilities.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/positions/Library%20Board%20Director.md","reference_url":null,"seats":1,"term":"","ca[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/proposals/?election_id=5&precinct_id=1172&active_election=null&limit=1000
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/proposals/1009/","id":1009,"name":"City
        of Grand Rapids: City of Grand Rapids Charter Amendment authorizing the levy
        of a permanent tax millage of 1.25 mills for PARKS, POOLS AND PLAY[...]
