interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/elections/
  response:
    body:
      string: '{"count":7,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/elections/39/","id":39,"name":"May
        Consolidated","date":"2020-05-05","date_humanized":"Tuesday, May 5, 2020","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/elections/May%20Consolidated.md","active":true,"reference_url":null},{"url":"http://michiganelections.io/api/elections/38/","id":38,"name":"Presidential
        Primary","date":"2020-03-10","date_humanized":"Tuesday, March 10, 2020","description":"The
        presidential primary elections and caucuses held in the various states, the
        District of Columbia, and territories of the United States form part of the
        nominating process of candidates for United States presidential elections.","description_edit_url":"https://github.com/citizenlabsgr/el[...]
