interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/elections/
  response:
    body:
      string: '{"count":11,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/elections/42/","id":42,"name":"May
        Consolidated","date":"2021-05-04","date_humanized":"Tuesday, May 4th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/elections/May%20Consolidated.md","active":true,"reference_url":null},{"url":"http://michiganelections.io/api/elections/43/","id":43,"name":"Special
        Election","date":"2021-03-23","date_humanized":"Tuesday, March 23rd","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/elections/Special%20Election.md","active":true,"reference_url":null},{"url":"http://michiganelections.io/api/elections/41/","id":41,"name":"State
        General","date":"2020-11-03","date_humanized":"Tuesday, November 3rd","descrip[...]
