interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/ballots/?election_id=40&precinct_id=1209
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/ballots/30347/","id":30347,"election":{"url":"http://michiganelections.io/api/elections/40/","id":40,"name":"State
        Primary","date":"2020-08-04","date_humanized":"Tuesday, August 4th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/elections/State%20Primary.md","active":true,"reference_url":null},"precinct":{"url":"http://michiganelections.io/api/precincts/1209/","id":1209,"county":"Kent","jurisdiction":"City
        of Grand Rapids","ward":"1","number":"9"},"mi_sos_url":"https://mvic.sos.state.mi.us/Voter/GetMvicBallot/1828/682/"}]}'
    headers:
      Allow: OPTIONS, GET
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/ballots/?election_id=40&precinct_id=1209
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/positions/?election_id=40&precinct_id=1209&limit=1000
  response:
    body:
      string: "{\"count\":10,\"next\":null,\"previous\":null,\"results\":[{\"url\":\"http://michiganelections.io/api/positions/5407/\",\"id\":5407,\"name\":\"Clerk
        & Register of Deeds\",\"description\":\"\",\"description_edit_url\":\"https://github.com/citizenlabsgr/elections-api/edit/master/content/positions/Clerk%20&%20Register%20of%20Deeds.md\",\"reference_url\":null,\"seats\":1,\"term\":\"\",\"candidates\":[{\"url\":\"http://michiganelections.io/api/candidates/22423/\",\"id\":22423,\"name\":\"Devin
        Ortega-Furgeson\",\"description\":\"\",\"reference_url\":null,\"party\":{\"url\":\"http://michiganelections.io/api/parties/1/\",\"id\":1,\"name\":\"Democratic\",\"color\":\"#3333FF\"}},{\"url\":\"http://michiganelections.io/api/candidates/22430/\",\"id\":22430,\"name\":\"Lisa
        Posthumus Lyons\",\"description\":\"\",\"reference_url\":null,\"party\":{\"url\":\"http://michiganelections.io/api/parties/2/\",\"id\":2,\"name\":\"Republican\",\"color\":\"#E81B23\"}}],\"election\":{\"url\":\"http://michiganelections.io/api/elections/40/\",\"id\":40,\"name\":\"State
        Primary\",\"date\":\"2020-08-04\",\"date_humanized\":\"Tuesday, August 4th\",\"description\":\"\",\"description_edit_url\":\"https://github.com/citizenlabsgr/elections-api/edit/master/content/elections/State%20Primary.md\",\"active\":true,\"reference_url\":null},\"district\":{\"url\":\"http://michiganelections.io/api/districts/56/\",\"id\":56,\"category\":\"County\",\"name\":\"Kent\"}},{\"url\":\"http://michiganelections.io/api/positions/11175/\",\"id\":11175,\"name\":\"County
        Commissioner\",\"description\":\"\",\"description_edit_url\":\"https://github.com/citizenlabsgr/elections-api/edit/master/content/positions/County%20Commissioner.md\",\"reference_url\":null,\"seats\":1,\"term\":\"\",\"candidates\":[{\"url\":\"http://michiganelections.io/api/candidates/37498/\",\"id\":37498,\"name\":\"Brian
        Boersema\",\"description\":\"\",\"r[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/proposals/?election_id=40&precinct_id=1209&limit=1000
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow: GET
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/proposals/?election_id=40&precinct_id=1209&limit=1000
version: 1
