interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/elections/?active=true
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/elections/51/","id":51,"name":"August
        Consolidated","date":"2023-08-08","date_humanized":"Tuesday, August 8th","active":true,"reference_url":null}]}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/elections/?active=true
version: 1
