interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/ballots/?election_id=40&precinct_id=591&active_election=null
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/ballots/33935/","id":33935,"election":{"url":"http://michiganelections.io/api/elections/40/","id":40,"name":"State
        Primary","date":"2020-08-04","date_humanized":"Tuesday, August 4th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/elections/State%20Primary.md","active":true,"reference_url":null},"precinct":{"url":"http://michiganelections.io/api/precincts/591/","id":591,"county":"Marquette","jurisdiction":"Township
        of Forsyth","ward":null,"number":"2"},"mi_sos_url":"https://mvic.sos.state.mi.us/Voter/GetMvicBallot/911/682/"}]}'
    headers:
      Allow: OPTIONS, GET
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/ballots/?election_id=40&precinct_id=591&active_election=null
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/positions/?election_id=40&precinct_id=591&active_election=null&limit=1000
  response:
    body:
      string: '{"count":33,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/positions/17099/","id":17099,"name":"United
        States Senator","description":"Approves of treaties, and the confirmation
        of Cabinet secretaries, Supreme Court justices, federal judges, regulatory
        officials, ambassadors, other federal executive officials. Furthermore, the
        Senate has the responsibility of conducting the trials of those impeached
        by the House.","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/positions/United%20States%20Senator.md","reference_url":null,"section":"Democratic","seats":1,"term":"","candidates":[{"url":"http://michiganelections.io/api/candidates/43453/","id":43453,"name":"Gary
        Peters","description":"","reference_url":null,"party":{"url":"http://michiganelections.io/api/parties/1/","id":1,"name":"Democratic","color":"#3333FF"}}],"election":{"url":"http://michiganelections.io/api/elections/40/","id":40,"name":"State
        Primary","date":"2020-08-04","date_humanized":"Tuesday, August 4th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/master/content/elections/State%20Primary.md","active":true,"reference_url":null},"district":{"url":"http://michiganelections.io/api/districts/1427/","id":1427,"category":"State","name":"Michigan"}},{"url":"http://michiganelections.io/api/positions/17115/","id":17115,"name":"United
        States Senator","description":"Approves of treaties, and the confirmation
        of Cabinet secretaries, Supreme Court justices, federal judges, regulatory
        officials, ambassadors, other federal executive officials. Furthermore, the
        Senate has the responsibility of conducting the trials of those impeached
        by the House.","description_edit_url":"https://gi[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/proposals/?election_id=40&precinct_id=591&active_election=null&limit=1000
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/proposals/3190/","id":3190,"name":"Millage
        for the Continuation of the Marquette County Transit Authority (MARQ-TRAN)","description":"To
        provide local funds for the continuing operati[...]
