interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/ballots/?election_id=3&precinct_id=1172
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"url":"http://michiganelections.io/api/ballots/10664/","id":10664,"election":{"url":"http://michiganelections.io/api/elections/3/","id":3,"name":"State
        General","date":"2018-11-06","date_humanized":"Tuesday, November 6th","description":"","description_edit_url":"https://github.com/citizenlabsgr/elections-api/edit/main/content/elections/State%20General.md","active":false,"reference_url":"https://www.michigan.gov/documents/sos/2018_Dates_600221_7.pdf"},"precinct":{"url":"http://michiganelections.io/api/precincts/1172/","id":1172,"county":"Kent","jurisdiction":"City
        of Grand Rapids","ward":"2","number":"36"},"mvic_url":"https://mvic.sos.state.mi.us/Voter/GetMvicBallot/1791/676/"}]}'
    headers:
      Allow:
      - OPTIONS, GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://michiganelections.io/api/ballots/?election_id=3&precinct_id=1172
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/positions/?election_id=3&precinct_id=1172&limit=1000
  response:
    body:
      string: "{\"count\":25,\"next\":null,\"previous\":null,\"results\":[{\"url\":\"http://michiganelections.io/api/positions/3136/\",\"id\":3136,\"name\":\"Attorney
        General\",\"description\":\"\",\"description_edit_url\":\"https://github.com/citizenlabsgr/elections-api/edit/main/content/positions/Attorney%20General.md\",\"reference_url\":null,\"section\":\"\",\"seats\":1,\"term\":\"\",\"candidates\":[{\"url\":\"http://michiganelections.io/api/candidates/10256/\",\"id\":10256,\"name\":\"Chris
        Graveline\",\"description\":\"\",\"reference_url\":\"$\",\"party\":{\"url\":\"http://michiganelections.io/api/parties/6/\",\"id\":6,\"name\":\"No
        Party Affiliation\",\"color\":\"#999\"}},{\"url\":\"http://michiganelections.io/api/candidates/10253/\",\"id\":10253,\"name\":\"Dana
        Nessel\",\"description\":\"\",\"reference_url\":\"$\",\"party\":{\"url\":\"http://michiganelections.io/api/parties/1/\",\"id\":1,\"name\":\"Democratic\",\"color\":\"#3333FF\"}},{\"url\":\"http://michiganelections.io/api/candidates/10255/\",\"id\":10255,\"name\":\"Gerald
        T. Van Sickle\",\"description\":\"\",\"reference_url\":\"$\",\"party\":{\"url\":\"http://michiganelections.io/[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://michiganelections.io/api/proposals/?election_id=3&precinct_id=1172&limit=1000
  response:
    body:
      string: "{\"count\":4,\"next\":null,\"previous\":null,\"results\":[{\"url\":\"http://michiganelections.io/api/proposals/191/\",\"id\":191,\"name\":\"18-1\",\"description\":\"A
        proposed initiated law to authorize and legalize possession, use and cultivation
        of marijuana products by individuals who are a[...]
