{% set proposal_key = 'proposal-' + proposal['id']|string %}

<!-- Nonpartisan section proposal -->

<h4>
    {{ proposal['name'] }}
    {% if proposal['reference_url'] %}
        <a href="{{ proposal['reference_url']}}" target="_blank" class="no-print">🔗</a>
    {% endif %}
    <span class="text-muted">
        ({{ proposal['district']['name'] }})
    </span>
</h4>

<div class="ml-4 text-justify">
    <p class="mb-2">
        <small>{{ proposal['description'].replace('\n\n', '<br>')|safe }}</small>
    </p>

    <h5>Approve</h5>

    <div class="ml-4 mb-2">

        <div class="form-check">
            <input class="form-check-input"
                    type="radio"
                    name="{{ proposal_key }}"
                    value="approve"
                    onChange="document.getElementById('save-toolbar').style.removeProperty('display');"
                    {% if votes[proposal_key] == 'approve' %}checked{% endif %}
                    {% if "share=" in request.query_string|string %}style="pointer-events:none;"{% endif %}>
            <label class="form-check-label" for="{{ proposal_key }}">
                Yes
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input"
                    type="radio"
                    name="{{ proposal_key }}"
                    value="reject"
                    onChange="document.getElementById('save-toolbar').style.removeProperty('display');"
                    {% if votes[proposal_key] == 'reject' %}checked{% endif %}
                    {% if "share=" in request.query_string|string %}style="pointer-events:none;"{% endif %}>
            <label class="form-check-label" for="{{ proposal_key }}">
                No
            </label>
        </div>

    </div>
</div>
