<div class="dropdown pe-1">
  <button class="btn {% if buddies_url %}btn-outline-dark{% else %}btn-secondary{% endif %} dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Plan to Vote
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <input type="button" class="dropdown-item" value="💾 &nbsp; Print / Download Choices" onClick="window.print()">

    <div class="dropdown-divider"></div>

    <a class="dropdown-item" href="https://absentee.michiganelections.io" target="_blank">
        🔗
        &nbsp;
        Vote By Mail
    </a>

    <a class="dropdown-item" href="https://mvic.sos.state.mi.us/Voter/Index" target="_blank">
        🔗
        &nbsp;
        Find Polling Location
    </a>

  </div>
</div>
