{% set current_party = request.args.get('party') %}

<span class="me-1">Select:</span>

<div class="btn-group" role="group" hx-indicator="#spinner">

    <button type="button" class="btn btn-sm btn-outline-dark {% if current_party == 'Democratic' %}active{% endif %}"
        hx-put=""
        hx-vals='{"party": "{{ 'Democratic' if current_party != 'Democratic' else '' }}"}'
        hx-indicator="#spinner">
        Democratic
    </button>

    <button type="button" class="btn btn-sm btn-outline-dark {% if current_party == 'Republican' %}active{% endif %}"
        hx-put=""
        hx-vals='{"party": "{{ 'Republican' if current_party != 'Republican' else '' }}"}'
        hx-indicator="#spinner">
        Republican
    </button>

</div>
