{% set position_key = 'position-' + position['id']|string %}

<!-- {{ position['section'] or "Unknown" }} section position -->

<h4>
    {{ position['name'] }}
    {% if position['reference_url'] %}
        <a href="{{ position['reference_url'] }}" target="_blank" class="no-print text-decoration-none">🔗</a>
    {% endif %}
    <span class="text-muted">
        ({{ position['district']['name'] }})
    </span>
</h4>

<div class="ms-4 mb-2">
    <p class="mb-2 text-justify">
        <small>
            {{ position['description'].replace('\n\n', '<p class="mb-3"></p>')|safe or "(no description)" }}
            {% if not position['description'] and "share=" not in request.query_string|string or "name=" not in request.query_string|string %}
                <a href="{{ position['description_edit_url'] }}" target="_blank" class="no-print text-decoration-none">✎</a>
            {% endif %}
        </small>
    </p>

    <h5>
        Candidates
        <span class="text-muted">
        ({{ position['seats'] }} Seat
        {%- if position['seats'] > 1 %}s{% endif -%}
        {%- if position['term'] %}, {{ position['term'] }}{% endif -%})
        </span>
    </h5>

    <div class="ms-4">
    {% for candidate in position['candidates'] %}
        {% set candidate_key = 'candidate-' + candidate['id']|string %}
        {% set viewed = candidate_key in votes['viewed'] %}
        {% set selected = candidate_key in votes[position_key] %}
        {% set share = "share=" in request.query_string|string %}

        <div class="form-check" {% if viewed and not selected %}style="opacity: 40%"{% endif %}>
            <input class="form-check-input"
                    type={% if position['seats'] == 1%}"radio"{% else %}"checkbox"{% endif %}
                    name="{{ position_key }}"
                    value="{{ candidate_key }}"
                    onChange="document.getElementById('save-toolbar').style.removeProperty('display');"
                    {% if selected %}checked{% endif %}
                    {% if share %}style="pointer-events:none;"{% endif %}>
            <label class="form-check-label" for="{{ position_key }}">

                {% if candidate['reference_url'] %}
                <a href="{{ candidate['reference_url'] }}" target="_blank" class="text-decoration-none">
                    {{ candidate['name'] }}
                </a>
                {% else %}
                    {{ candidate['name'] }}
                {% endif %}

                <span class="text-muted">
                (<span style="color: {{ candidate['party']['color'] }};">⬤</span>&nbsp;{{ candidate['party']['name'] }})
                </span>

                {% if selected or share %}
                {% elif viewed %}
                <button class="btn btn-link text-decoration-none p-0" title="Show candiate"
                    hx-put=""
                    hx-vals='{"show": "{{ candidate_key }}"}'
                    hx-indicator="#spinner"
                    onClick="document.getElementById('save-toolbar').style.removeProperty('display');">
                    👁️
                </button>
                {% else %}
                <button class="btn btn-link text-decoration-none p-0" title="Hide candidate"
                    hx-put=""
                    hx-vals='{"hide": "{{ candidate_key }}"}'
                    hx-indicator="#spinner"
                    onClick="document.getElementById('save-toolbar').style.removeProperty('display');"
                    style="filter: contrast(50%)">
                    🚫
                </button>
                {% endif %}
            </label>
        </div>

    {% endfor %}
    </div>
</div>
