{% extends "base.html" %}

{% block content %}

<h1>Michigan Ballot Preview</h1>

<p>
    Ballot Preview is a service to view sample ballots for elections in Michigan,
    annotate them, and share how you plan to vote with your friends and familiy
    on social media.
    The ballots we show you are merely a respresentation of the content you're
    likely to see on your physical ballot.
    Using this service does not replace actually voting!
</p>

<p>
    We're able to provide ballot previews by looking up your voter registration using the
    <a href="https://michiganelections.io" target="_blank" class="text-decoration-none">Michigan Elections API</a>
    to find your precinct and corresponding ballot content.
    Your information is only used to fetch information directly from the
    <a href="https://mvic.sos.state.mi.us/" target="_blank" class="text-decoration-none">Michigan Secretary of State</a> website.
    It is never saved on our servers.
</p>

<p>
    In addition, at no point do we store information about your voting preferences.
    All ballot selections become part of the URL, so only people you share your
    annotated ballot with will know how you plan to vote.
</p>

<a href="{{ url_for('election_list') }}" class="btn btn-primary">
    View Elections
</a>

{% endblock %}
