{% extends "base.html" %}

{% block meta %}

<!-- Primary Meta Tags -->
<title>Michigan Ballot Preview</title>

{% endblock meta %}
{% block content %}

<h1>Share Your Voting Plan</h1>

{% include "_ballot_header.html" %}

<div class="alert alert-info" role="alert">
    These links will share your full voting plan on social media.
    Choose one of your ballot selections as the cover image or
    <a href="javascript:history.back()" class="text-decoration-none">go back</a>
    to make changes.
</div>

<hr>

{% for item, choice in votes.items() %}
    {% if item.startswith('position-') %}
        {% for choice in choice %}
            {% include "_share_item.html" %}
        {% endfor %}
    {% elif item.startswith('proposal-') %}
        {% include "_share_item.html" %}
    {% endif %}
{% endfor %}

{% endblock content %}
{% block scripts %}

<script>

document.querySelectorAll('.btn').forEach(function(button) {
    button.addEventListener('click', function() {
        var textToCopy = button.getAttribute('data-clipboard-text');
        navigator.clipboard.writeText(textToCopy).then(function() {
            showAlert('Link copied to the clipboard!');
        }).catch(function(error) {
            console.error('Error copying to clipboard: ', error);
        });
    });
});

function showAlert(message) {
    var alertDiv = document.createElement('div');
    alertDiv.className = 'alert alert-success fade show';
    alertDiv.setAttribute('role', 'alert');
    alertDiv.style.position = 'fixed';
    alertDiv.style.top = '10px';
    alertDiv.style.right = '10px';
    alertDiv.style.zIndex = '2000';
    alertDiv.innerHTML = message;

    document.body.appendChild(alertDiv);

    // Display full width on small screens
    if (window.innerWidth < 576) {
        alertDiv.style.top = '5px';
        alertDiv.style.left = '5px';
        alertDiv.style.width = 'calc(100% - 10px)';
    }

    setTimeout(function() {
        alertDiv.classList.remove('show');
        alertDiv.classList.add('fade');
        setTimeout(function() {
            alertDiv.remove();
        }, 150);
    }, 3000);
}

</script>

{% endblock scripts %}
