{% extends "base.html" %}

{% block content %}

<h1>Your Voting Plan</h1>

{% if election %}
<div>
    <h5>
        Michigan {{ election['name'] }}
        <span class="text-muted">
            ({{ election['date_humanized'] }})
        </span>
    </h5>
</div>
{% endif %}

{% if recently_moved %}

<div class="alert alert-danger" role="alert">
    The
    <a href="https://mvic.sos.state.mi.us/" target="_blank">Michigan Secretary of State<a>
    indicates that you've recently moved,
    so we can't find your sample ballot at this time.
    Plese try again later or visit their site for more informaiton.
</div>

{% else %}

<div class="alert alert-danger" role="alert">
    We can't find a sample ballot for this election. Please check with the
    <a href="https://mvic.sos.state.mi.us/" target="_blank">Michigan Secretary of State<a>
    if you expect one to be available.
</div>

<p>You can also check out sample ballots for other recent elections:<p>
<ul>
{% for election in elections %}
    <li>
        {% if precinct_id %}
        <a href="{{ url_for('precinct_detail', election_id=election['id'], precinct_id=precinct_id, name=name)}}">
            {{ election['name'] }} ({{ election['date'] }})
        </a>
        {% else %}
        <a href="{{ url_for('election_detail', election_id=election['id'], name=name)}}">
            {{ election['name'] }} ({{ election['date'] }})
        </a>
        {% endif %}
    </li>
{% endfor %}
</ul>

{% endif %}

<a href="{{ url_for('election_list') }}" class="btn btn-primary">
    View All Elections
</a>

{% endblock %}
