{% extends "base.html" %}

{% block meta %}

<!-- Primary Meta Tags -->
<title>Michigan Ballot Preview</title>

{% endblock %}
{% block content %}

<h1>Share Your Voting Plan</h1>

{% include "_ballot_header.html" %}

<div class="alert alert-info" role="alert">
    These links will share your full voting plan on social media.
    Choose one of your ballot selections as the cover image or
    <a href="javascript:history.back()" class="text-decoration-none">go back</a>
    to make changes.
</div>

<hr>

{% for item, choice in votes.items() %}
    {% if item.startswith('position-') %}
        {% for choice in choice %}
            {% include "_share_item.html" %}
        {% endfor %}
    {% elif item.startswith('proposal-') %}
        {% include "_share_item.html" %}
    {% endif %}
{% endfor %}

{% endblock %}
{% block scripts %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>

<script>

var clipboard = new Clipboard('.btn');
clipboard.on('success', function(event) {
    showAlert();
});
clipboard.on('error', function(event) {
    console.error(event);
});

function showAlert() {
    var alertDiv = document.createElement('div');
    alertDiv.className = 'alert alert-success fade show';
    alertDiv.setAttribute('role', 'alert');
    alertDiv.style.position = 'fixed';
    alertDiv.style.top = '10px';
    alertDiv.style.right = '10px';
    alertDiv.innerHTML = 'Link copied to the clipboard!';

    document.body.appendChild(alertDiv);

    // Display full width on small screens
    if (window.innerWidth < 576) {
        alertDiv.style.top = '5px';
        alertDiv.style.left = '5px';
        alertDiv.style.width = 'calc(100% - 10px)';
    }

    setTimeout(function() {
        alertDiv.classList.remove('show');
        alertDiv.classList.add('fade');
        setTimeout(function() {
            alertDiv.remove();
        }, 150);
    }, 3000);
}

</script>

{% endblock %}
