{% extends "base.html" %}

{% block meta %}

<!-- Primary Meta Tags -->
<title>Michigan Ballot Preview</title>
<meta name="title" content="Michigan votes on {{ ballot['election']['date_humanized'] }}">
<meta name="description" content="Check out {% if name %}{{ name }}'s{% else %}my{% endif %} plan for the {{ ballot['election']['name'] }} election.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.url }}">
<meta name="og:title" content="Michigan votes on {{ ballot['election']['date_humanized'] }}">
<meta name="og:description" content="Check out {% if name %}{{ name }}'s{% else %}my{% endif %} plan for the {{ ballot['election']['name'] }} election.">
<meta property="og:image" content="{{ request.url }}&target=facebook">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ request.url }}">
<meta property="twitter:title" content="Michigan votes on {{ ballot['election']['date_humanized'] }}">
<meta property="twitter:description" content="Check out {% if name %}{{ name }}'s{% else %}my{% endif %} plan for the {{ ballot['election']['name'] }} election.">
<meta property="twitter:image" content="{{ request.url }}&target=twitter">

{% endblock %}
{% block content %}

<form action="{{ request.url }}" method="post">

<h1 class="no-print">
{% if "share=" in request.query_string|string %}
    {% if name %}
        {{ name }}'s
    {% else %}
        Your Friend's
    {% endif %}
    Voting Plan
{% else %}
    Your Voting Plan
{% endif %}
</h1>

<h1 class="print-only">
{% if name %}
    {{ name }}'s
{% else %}
    Your
{% endif %}
Voting Plan
</h1>

<div>
    {% include "_ballot_header.html" %}

    <div class="no-print">
    {% if "share=" in request.query_string|string %}
        <a href="{{ url_for('election_detail', election_id=ballot['election']['id']) }}" class="btn btn-primary" role="button">
            Find Your Ballot
        </a>
    {% elif "position-" in request.query_string|string or "proposal-" in request.query_string|string %}
        <div class="btn-group">
        {% include "_ballot_plan.html" %}
        {% include "_ballot_share.html" %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            Fill out this sample ballot to share with your friends and family.
            No one will see your choices until you decide to share the link we generate.
            <br><br>
            <small>
                Something seem off? View your
                <a href="{{ ballot['mvic_url'] or 'https://mvic.sos.state.mi.us' }}" target="_blank">official ballot<a>
                and open
                <a href="https://github.com/citizenlabsgr/ballotshare/issues" target="_blank">an issue</a>
                to let us know.
            </small>
        </div>
    {% endif %}
    </div>
</div>

<div class="print-only" >
    <h5>Find Your Polling Location:</h5>
    <div style="color: blue;">https://mvic.sos.state.mi.us/Voter/Index</div>
    <h5 class="mt-2">Edit / Share Your Choices:</h5>
    <div style="color: blue; font-size: {{ 1 + 800 / request.url|length }}px;">{{ request.url }}</div>
</div>

{% if positions %}
<div>
    <hr>
    <h2>Positions</h2>
    {% if "Primary" in ballot['election']['name'] and "party=" not in request.query_string|string %}
        <div class="btn-group" role="group">
        {% if request.query_string %}
            <a href="{{ request.url }}&party=Democratic" class="btn btn-outline-dark" role="button">Democratic Primary Ballot</a>
            <a href="{{ request.url }}&party=Republican" class="btn btn-outline-dark" role="button">Republican Primary Ballot</a>
        {% else %}
            <a href="{{ request.url }}?party=Democratic" class="btn btn-outline-dark" role="button">Democratic Primary Ballot</a>
            <a href="{{ request.url }}?party=Republican" class="btn btn-outline-dark" role="button">Republican Primary Ballot</a>
        {% endif %}
        </div>
    {% else %}
        {% for position in positions if position['candidates'] %}
            {% include "_ballot_position.html" %}
        {% endfor %}
    {% endif %}
</div>
{% endif %}

{% if proposals %}
<div>
    <hr>
    <h2>Proposals</h2>
    {% for proposal in proposals %}
        {% include "_ballot_proposal.html" %}
    {% endfor %}
</div>
{% endif %}

<div class="py-5" id="save-toolbar" style="display: none;">
    <div class="p-3 fixed-bottom bg-dark">
        <span class="py-2 float-left text-light">
            Once you're done filling out your ballot, we'll generate a unique URL for you to share.
        </span>
        <span class="float-right">
            <button type="submit" class="btn btn-success">Save Choices</button>
        </span>
    </div>
</div>

</form>

{% endblock %}
{% block scripts %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>

<script>

// Clipboard

var clipboard = new Clipboard('.dropdown-item');

clipboard.on('success', function(event) {
    $.notify({
        message: 'Ballot preview link copied to the clipboard!',
    }, {
        type: 'success',
        delay: 3000,
    });
});

clipboard.on('error', function(event) {
    console.log(event);
});

</script>

{% endblock %}
