{% extends "base.html" %}

{% block meta %}

<!-- Primary Meta Tags -->
<title>Michigan Ballot Preview</title>

{% endblock %}
{% block content %}

<h1>Share Your Voting Plan</h1>

{% include "_ballot_header.html" %}

<hr>

{% for item, choice in votes.items() %}
    {% if item.startswith('position-') %}
        {% for choice in choice %}
            {% include "_share_item.html" %}
        {% endfor %}
    {% elif item.startswith('proposal-') %}
        {% include "_share_item.html" %}
    {% endif %}
{% endfor %}

{% endblock %}
