{% extends "base.html" %}

{% block meta %}

<!-- Primary Meta Tags -->
<title>Michigan Ballot Preview</title>
<meta name="title" content="Michigan votes on {{ ballot['election']['date_humanized'] }}">
<meta name="description" content="The {{ ballot['election']['name'] }} is important. Here's how {% if name %}{{ name }} plans{% else %}I plan{% endif %} to vote.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.url }}">
<meta name="og:title" content="Michigan votes on {{ ballot['election']['date_humanized'] }}">
<meta name="og:description" content="The {{ ballot['election']['name'] }} is important. Here's how {% if name %}{{ name }} plans{% else %}I plan{% endif %} to vote.">
<meta property="og:image" content="{{ request.url }}&target=facebook">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ request.url }}">
<meta property="twitter:title" content="Michigan votes on {{ ballot['election']['date_humanized'] }}">
<meta property="twitter:description" content="The {{ ballot['election']['name'] }} is important. Here's how {% if name %}{{ name }} plans{% else %}I plan{% endif %} to vote.">
<meta property="twitter:image" content="{{ request.url }}&target=twitter">

{% endblock %}
{% block content %}

<form action="{{ request.url }}" method="post">

<h1>
{% if "share=" in request.query_string|string %}
    {% if name %}{{ name }}'s{% endif %} Voting Plan
{% else %}
    Your Voting Plan
{% endif %}
</h1>

<div>
    {% include "_ballot_header.html" %}

    <div class="no-print">
    {% if "share=" in request.query_string|string %}
        <a href="{{ url_for('election_detail', election_id=ballot['election']['id']) }}" class="btn btn-primary" role="button">
            Find Your Ballot
        </a>
    {% elif "position-" in request.query_string|string or "proposal-" in request.query_string|string %}
        <input type="button" class="btn btn-secondary" value="Print / Download Choices" onClick="window.print()">
        <a class="btn btn-primary" href="{{ request.url }}&share=" role="button">
            Share Your Voting Plan...
        </a>
    {% else %}
        <div class="alert alert-info" role="alert">
            Fill out this sample ballot to share with your friends and family.
            No one will see your choices until you decide to share the link we generate.
            <br><br>
            <small>
                Something seem off? View your
                <a href="{{ ballot['mi_sos_url'] or 'https://mvic.sos.state.mi.us' }}" target="_blank">official ballot<a>
                and open
                <a href="https://github.com/citizenlabsgr/ballotshare/issues" target="_blank">an issue</a>
                to let us know.
            </small>
        </div>
    {% endif %}
    </div>
</div>

{% if positions %}
<div>
    <hr>
    <h2>Positions</h2>
    {% if "Primary" in ballot['election']['name'] and "party=" not in request.query_string|string %}
        <div class="btn-group" role="group">
        {% if request.query_string %}
            <a href="{{ request.url }}&party=Democratic" class="btn btn-outline-dark" role="button">Democratic Primary Ballot</a>
            <a href="{{ request.url }}&party=Republican" class="btn btn-outline-dark" role="button">Republican Primary Ballot</a>
        {% else %}
            <a href="{{ request.url }}?party=Democratic" class="btn btn-outline-dark" role="button">Democratic Primary Ballot</a>
            <a href="{{ request.url }}?party=Republican" class="btn btn-outline-dark" role="button">Republican Primary Ballot</a>
        {% endif %}
        </div>
    {% else %}
        {% for position in positions if position['candidates'] %}
            {% include "_ballot_position.html" %}
        {% endfor %}
    {% endif %}
</div>
{% endif %}

{% if proposals %}
<div>
    <hr>
    <h2>Proposals</h2>
    {% for proposal in proposals %}
        {% include "_ballot_proposal.html" %}
    {% endfor %}
</div>
{% endif %}

<div class="py-5" id="save-toolbar" style="display: none;">
    <div class="p-3 fixed-bottom bg-dark">
        <span class="py-2 float-left text-light">
            Once you're done filling out your ballot, we'll generate a unique URL for you to share.
        </span>
        <span class="float-right">
            <button type="submit" class="btn btn-success">Save Choices</button>
        </span>
    </div>
</div>

</form>

{% endblock %}
