{% extends "base.html" %}

{% block meta %}

<!-- Primary Meta Tags -->
<title>Michigan Ballot Preview</title>
<meta name="title" content="Michigan votes on {{ ballot['election']['date_humanized'] }}">
<meta name="description" content="The {{ ballot['election']['name'] }} is important. Here's how {% if name %}{{ name }} plans{% else %}I plan{% endif %} to vote.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.url }}">
<meta name="og:title" content="Michigan votes on {{ ballot['election']['date_humanized'] }}">
<meta name="og:description" content="The {{ ballot['election']['name'] }} is important. Here's how {% if name %}{{ name }} plans{% else %}I plan{% endif %} to vote.">
<meta property="og:image" content="{{ request.url }}&target=facebook">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ request.url }}">
<meta property="twitter:title" content="Michigan votes on {{ ballot['election']['date_humanized'] }}">
<meta property="twitter:description" content="The {{ ballot['election']['name'] }} is important. Here's how {% if name %}{{ name }} plans{% else %}I plan{% endif %} to vote.">
<meta property="twitter:image" content="{{ request.url }}&target=twitter">

{% endblock %}
{% block content %}

<form action="{{ request.url }}" method="post">

<h1>{% if name %}{{ name }}'s{% endif %} Michigan Ballot Preview</h1>

<div class="ml-4">
    <h5>
        {{ ballot['election']['name'] }}
        <span class="text-muted">
            ({{ ballot['election']['date_humanized'] }})
        </span>
    </h5>

    <h5>
        {{ ballot['precinct']['county'] }} County,
        {{ ballot['precinct']['jurisdiction'] }}

        {%- if ballot['precinct']['ward'] -%}
        , Ward {{ ballot['precinct']['ward']}}
        {% endif %}

        {%- if ballot['precinct']['number'] -%}
        , Precinct {{ ballot['precinct']['number'] }}
        {% endif %}
    </h5>

    <div>
    {% if "share=" in request.query_string|string %}
        <a href="{{ url_for('election_detail', election_id=ballot['election']['id']) }}" class="btn btn-primary" role="button">
            Find Your Ballot
        </a>
    {% elif "position-" in request.query_string|string or "proposal-" in request.query_string|string %}
        <div class="dropdown" id="copy" data-clipboard-text="">
            <button class="btn btn-primary dropdown-toggle" type="button" id="share-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Share This Ballot
            </button>
            <div class="dropdown-menu" aria-labelledby="share-menu-button">
                {% for position in positions %}
                    <button class="dropdown-item" type="button" data-clipboard-text="{{ request.url }}&share=position-{{ position['id'] }}">
                        {{ position['name'] }}
                    </button>
                {% endfor %}
                {% for proposal in proposals %}
                    <button class="dropdown-item" type="button" data-clipboard-text="{{ request.url }}&share=proposal-{{ proposal['id'] }}">
                        {{ proposal['name'] }}
                    </button>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>
</div>

<h2 class="py-4">Positions</h2>

{% for position in positions %}
    {% set position_key = 'position-' + position['id']|string %}
    <h4>
        {{ position['name'] }}
        <span class="text-muted">
            ({{ position['district']['name'] }})
        </span>
    </h4>

    <div class="ml-4 mb-2">
        <p class="mb-2">
            {{ position['description'] }}
        </p>

        <h5>
            Candidates
            <span class="text-muted">
            ({{ position['seats'] }} Seat
            {%- if position['seats'] > 1 %}s{% endif -%}
            {%- if position['term'] %}, {{ position['term'] }}{% endif -%})
            </span>
        </h5>

        <div class="ml-4">
        {% for candidate in position['candidates'] %}
            {% set candidate_key = 'candidate-' + candidate['id']|string %}

            <div class="form-check">
                <input class="form-check-input"
                        type={% if position['seats'] == 1%}"radio"{% else %}"checkbox"{% endif %}
                        name="{{ position_key }}"
                        value="{{ candidate_key }}"
                        onChange="document.getElementById('save-toolbar').style.removeProperty('display');"
                        {% if candidate_key in votes[position_key] %}checked{% endif %}
                        {% if "share=" in request.query_string|string %}disabled{% endif %}>
                <label class="form-check-label"
                        for="{{ position_key }}">
                    {{ candidate['name'] }}
                    <span class="text-muted">
                    (<span style="color: {{ candidate['party']['color'] }};">⬤</span>&nbsp;{{ candidate['party']['name'] }})
                    </span>
                </label>
            </div>

        {% endfor %}
        </div>

    </div>

{% else %}
<h4 class="text-muted">(no positions on this ballot)</h4>
{% endfor %}

<h2 class="py-4">Proposals</h2>

{% for proposal in proposals %}
    {% set proposal_key = 'proposal-' + proposal['id']|string %}

    <h4>
        {{ proposal['name'] }}
        <span class="text-muted">
            ({{ proposal['district']['name'] }})
        </span>
    </h4>

    <div class="ml-4">
        <p class="mb-2">{{ proposal['description'] }}</p>

        <h5>Approve</h5>

        <div class="ml-4 mb-2">

            <div class="form-check">
                <input class="form-check-input"
                        type="radio"
                        name="{{ proposal_key }}"
                        value="approve"
                        onChange="document.getElementById('save-toolbar').style.removeProperty('display');"
                        {% if votes[proposal_key] == 'approve' %}checked{% endif %}
                        {% if "share=" in request.query_string|string %}disabled{% endif %}>
                <label class="form-check-label" for="{{ proposal_key }}">
                    Yes
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input"
                        type="radio"
                        name="{{ proposal_key }}"
                        value="reject"
                        onChange="document.getElementById('save-toolbar').style.removeProperty('display');"
                        {% if votes[proposal_key] == 'reject' %}checked{% endif %}
                        {% if "share=" in request.query_string|string %}disabled{% endif %}>
                <label class="form-check-label" for="{{ proposal_key }}">
                    No
                </label>
            </div>

        </div>

    </div>

{% else %}
<h4 class="text-muted">(no proposals on this ballot)</h4>
{% endfor %}

{% if "share=" not in request.query_string|string %}
<p class="py-4">
    Something seem off? View your
    <a href="{{ ballot['mi_sos_url'] or 'https://mvic.sos.state.mi.us' }}" target="_blank">official ballot<a>
    and open
    <a href="https://github.com/citizenlabsgr/ballotshare/issues" target="_blank">an issue</a>
    to let us know.
</p>

<div class="pt-5" id="save-toolbar" style="display: none;">
<div class="py-4 fixed-bottom text-center bg-dark">
    <button type="submit" class="btn btn-success">Save Changes</button>
    <a href="{{ request.url }}" class="btn btn-danger" role="button">Discard Changes</a>
</div>
</div>
{% endif %}

</form>

{% endblock %}
{% block scripts %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>

<script>

// Clipboard

var clipboard = new Clipboard('.dropdown-item');

clipboard.on('success', function(event) {
    $.notify({
        message: 'Ballot preview link copied to the clipboard!',
    }, {
        type: 'success',
        delay: 3000,
    });
});

clipboard.on('error', function(event) {
    console.log(event);
});

</script>

{% endblock %}



