{% extends "base.html" %}

{% block content %}

<form action="{{ request.url }}" method="post">

<h1>{% if name %}{{ name }}'s{% endif %} Ballot Preview</h1>

<div class="ml-4">
    <h5>{{ ballot['election']['name'] }} ({{ ballot['election']['date'] }})</h5>

    <h5>
        {{ ballot['precinct']['county'] }} County,
        {{ ballot['precinct']['jurisdiction'] }}

        {%- if ballot['precinct']['ward'] -%}
        , Ward {{ ballot['precinct']['ward' ]}}
        {% endif %}

        {%- if ballot['precinct']['number'] -%}
        , Precinct {{ ballot['precinct']['number'] }}
        {% endif %}
    </h5>

    <div>
        <button id="copy" type="button" class="btn btn-primary" data-clipboard-text="{{ request.url }}">Share This Ballot</button>
        <a href="{{ url_for('election', election_id=ballot['election']['id']) }}" class="btn btn-secondary" role="button">Find Your Ballot</a>
    </div>
</div>

<h2 class="py-4">Positions</h2>

{% for position in positions %}
    {% set position_key = 'position-' + position['id']|string %}
    <h4>
        {{ position['name'] }}
        <span class="text-muted">
            ({{ position['district']['name'] }})
        </span>
    </h4>

    <div class="ml-4 mb-2">
        <p class="mb-2">
            {{ position['description'] }}
        </p>

        <h5>
            Candidates
            <span class="text-muted">
            ({{ position['seats'] }} Seat
            {%- if position['seats'] > 1 %}s{% endif -%}
            {%- if position['term'] %}, {{ position['term'] }}{% endif -%})
            </span>
        </h5>

        <div class="ml-4">
        {% for candidate in position['candidates'] %}
            {% set candidate_key = 'candidate-' + candidate['id']|string %}

            <div class="form-check">
                <input class="form-check-input"
                        type={% if position['seats'] == 1%}"radio"{% else %}"checkbox"{% endif %}
                        name="{{ position_key }}"
                        value="{{ candidate_key }}"
                        onChange="document.getElementById('save-toolbar').style.removeProperty('display');"
                        {% if candidate_key in votes[position_key] %}checked{% endif %}>
                <label class="form-check-label"
                        for="{{ position_key }}">
                    {{ candidate['name'] }}
                    <span class="text-muted">
                    (<span style="color: {{ candidate['party']['color'] }};">⬤</span>&nbsp;{{ candidate['party']['name'] }})
                    </span>
                </label>
            </div>

        {% endfor %}
        </div>

    </div>

{% else %}
<h4 class="text-muted">(no positions on this ballot)</h4>
{% endfor %}

<h2 class="py-4">Proposals</h2>

{% for proposal in proposals %}
    {% set proposal_key = 'proposal-' + proposal['id']|string %}

    <h4>
        {{ proposal['name'] }}
        <span class="text-muted">
            ({{ proposal['district']['name'] }})
        </span>
    </h4>

    <div class="ml-4">
        <p class="mb-2">{{ proposal['description'] }}</p>

        <h5>Approve</h5>

        <div class="ml-4">

            <div class="form-check">
                <input class="form-check-input"
                        type="radio"
                        name="{{ proposal_key }}"
                        value="yes"
                        onChange="document.getElementById('save-toolbar').style.removeProperty('display');"
                        {% if votes[proposal_key] == 'yes' %}checked{% endif %}>
                <label class="form-check-label" for="{{ proposal_key }}">
                    Yes
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input"
                        type="radio"
                        name="{{ proposal_key }}"
                        value="no"
                        onChange="document.getElementById('save-toolbar').style.removeProperty('display');"
                        {% if votes[proposal_key] == 'no' %}checked{% endif %}>
                <label class="form-check-label" for="{{ proposal_key }}">
                    No
                </label>
            </div>

        </div>

    </div>

{% else %}
<h4 class="text-muted">(no proposals on this ballot)</h4>
{% endfor %}

<p class="text-right">
Something seem off? View your
<a href="{{ ballot['mi_sos_url'] }}" target="_blank">official ballot<a>
and open
<a href="https://github.com/citizenlabsgr/ballotshare/issues" target="_blank">an issue</a>
to let us know.
</p>

<div class="pt-5" id="save-toolbar" style="display: none;">
<div class="py-4 fixed-bottom text-center bg-dark">
    <button type="submit" class="btn btn-success">Save Changes</button>
    <a href="{{ request.url }}" class="btn btn-danger" role="button">Discard Changes</a>
</div>
</div>

</form>

{% endblock %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>

<script>

// Tooltip

$('#copy').tooltip({
  trigger: 'click',
  placement: 'top'
});

function setTooltip(message) {
  $('#copy').tooltip('hide')
    .attr('data-original-title', message)
    .tooltip('show');
}

function hideTooltip() {
  setTimeout(function() {
    $('#copy').tooltip('hide');
  }, 5000);
}

// Clipboard

var clipboard = new Clipboard('#copy');

clipboard.on('success', function(e) {
  setTooltip('URL copied to clipboard!');
  hideTooltip();
});

clipboard.on('error', function(e) {
  console.log(e);
  hideTooltip();
});

</script>

{% endblock %}
