<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115392197-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-115392197-2');
        </script>

        {% block meta %}

        <!-- Primary Meta Tags -->
        <title>Michigan Ballot Preview</title>
        <meta name="title" content="Michigan Ballot Preview">
        <meta name="description" content="Share how you plan to vote in Michigan.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ request.url }}">
        <meta property="og:title" content="Michigan Ballot Preview">
        <meta property="og:description" content="Share how you plan to vote in Michigan.">
        <meta property="og:image" content="{{ request.url }}banner.jpg?target=facebook">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="628">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ request.url }}/">
        <meta property="twitter:title" content="Michigan Ballot Preview">
        <meta property="twitter:description" content="Share how you plan to vote in Michigan.">
        <meta property="twitter:image" content="{{ request.url }}banner.jpg?target=twitter">

        {% endblock meta %}

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}" />
        <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}" />
        <link rel="mask-icon" href="{{ url_for('static', filename='icons/safari-pinned-tab.svg') }}" color="#f55221" />
        <meta name="msapplication-TileColor" content="#f55221" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Boostrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

        <!-- Custom -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">

    </head>
    <body>
        {% include "_header.html" %}
        <div class="container">
            <div class="row justify-content-center mt-sm-5 mt-2">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    {% include "_nav.html" %}
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
        {% include "_footer.html" %}
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
