<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block meta %}

        <!-- Primary Meta Tags -->
        <title>Michigan Ballot Preview</title>
        <meta name="title" content="Michigan Ballot Preview">
        <meta name="description" content="Share how you plan to vote in Michigan.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://share.michiganelections.io/">
        <meta property="og:title" content="Michigan Ballot Preview">
        <meta property="og:description" content="Share how you plan to vote in Michigan.">
        {# <meta property="og:image" content="https://share.michiganelections.io{% static 'logo.png' %}"> #}

        <!-- Twitter -->
        <meta property="twitter:card" content="summary">
        <meta property="twitter:url" content="https://share.michiganelections.io/">
        <meta property="twitter:title" content="Michigan Ballot Preview">
        <meta property="twitter:description" content="Share how you plan to vote in Michigan.">
        {# <meta property="twitter:image" content="https://share.michiganelections.io{% static 'logo.png' %}"> #}

        {% endblock %}

        <!-- Favicons -->
        {# <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#f55221">
        <meta name="msapplication-TileColor" content="#f55221">
        <meta name="theme-color" content="#ffffff"> #}

        <!-- Boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">

    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center mt-sm-5 mt-2 mb-5">
                <div class="col-lg-8">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container text-center">
                <small class="text-muted">
                    <a class="text-muted" href="{{ url_for('about') }}"><b>Ballot Preview</b></a>
                    is an
                    <a class="text-muted" href="https://github.com/citizenlabsgr/ballotshare" target="_blank"><b>open source</b></a>
                    project by
                    <a class="text-muted" href="https://citizenlabs.org/" target="_blank">
                    <b>Citizen Labs</b></a>.
                </small>
            </div>
        </footer>

        {% block scripts %}{% endblock %}
    </body>
</html>
