{% extends "base.html" %}

{% block content %}

<h1>Michigan Ballot Preview</h1>

<div class="mb-4">
    <h5>
        {{ election['name'] }}
        <span class="text-muted">
            ({{ election['date_humanized'] }})
        </span>
    </h5>
</div>

{% if voter['first_name'] and not test %}

<div class="alert alert-danger" role="alert">
  It looks like you might not be registered to vote. Please check with the
  <a href="https://mvic.sos.state.mi.us/" target="_blank" class="text-decoration-none">Michigan Secretary of State</a>
  website on status of your registration.
</div>

{% endif %}

<div>
<form action="{{ request.url }}" method="post">

    <div class="mb-3">
        <label for="first-name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first-name" name="first_name" value="{{ voter['first_name'] }}" placeholder="Your legal first name" required>
    </div>

    <div class="mb-3">
        <label for="last-name" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last-name" name="last_name" value="{{ voter['last_name'] }}" placeholder="Your last name" required>
    </div>

    <div class="mb-3">
        <label for="birth-date" class="form-label">Birth Date</label>
        <input type="date" class="form-control" id="birth-date" name="birth_date" value="{{ voter['birth_date'] }}" placeholder="mm/dd/yyyy" required pattern="(\d{4}-\d{2}-\d{2})|(\d{1,2}/\d{1,2}/\d{4})" data-date-format="mm/dd/yyyy">
    </div>

    <div class="mb-3">
        <label for="zip-code" class="form-label">ZIP Code</label>
        <input type="number" class="form-control" id="zip-code" name="zip_code"  value="{{ voter['zip_code'] }}" placeholder="Your ZIP code" required>
    </div>

    <button type="submit" class="btn btn-primary">Find Your Ballot</button>
    <div class="mt-2 float-end">
    <small>
        We don't store this information.
        Read
        <a href="{{ url_for('about') }}" class="text-decoration-none">about</a>
        how it's used.
    </small>
    </div>

</form>
</div>

{% endblock content %}
