{% extends "base.html" %}

{% block content %}

<h1>{{ election['name'] }} ({{ election['date'] }})</h1>

{% if voter['first_name'] %}

<div class="alert alert-danger" role="alert">
  It looks like you might not be registered to vote. Please check with the
  <a href="https://mvic.sos.state.mi.us/" target="_blank">Michigan Secretary of State<a>.
</div>

{% endif %}

<form action="{{ request.url }}" method="post">

    <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" name="first_name" value="{{ voter['first_name'] }}" placeholder="Your first name" required>
    </div>

    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" id="last-name" name="last_name" value="{{ voter['last_name'] }}" placeholder="Your last name" required>
    </div>

    <div class="form-group">
        <label for="birth-date">Birth Date</label>
        <input type="date" class="form-control" id="birth-date" name="birth_date" value="{{ voter['birth_date'] }}" required>
    </div>

    <div class="form-group">
        <label for="zip-code">ZIP Code</label>
        <input type="number" class="form-control" id="zip-code" name="zip_code"  value="{{ voter['zip_code'] }}" placeholder="Your ZIP code" required>
    </div>

    <button type="submit" class="btn btn-primary">Find Your Ballot</button>

</form>

{% endblock %}
