{% extends "base.html" %}

{% block content %}

<h1>Michigan Ballot Lookup</h1>

<div class="ml-4 mb-4">
    <h5>
        {{ election['name'] }}
        <span class="text-muted">
            ({{ election['date_humanized'] }})
        </span>
    </h5>
</div>

{% if voter['first_name'] %}

<div class="alert alert-danger" role="alert">
  It looks like you might not be registered to vote. Please check with the
  <a href="https://mvic.sos.state.mi.us/" target="_blank">Michigan Secretary of State<a>.
</div>

{% endif %}

<form action="{{ request.url }}" method="post">

    <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" name="first_name" value="{{ voter['first_name'] }}" placeholder="Your first name" required>
    </div>

    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" id="last-name" name="last_name" value="{{ voter['last_name'] }}" placeholder="Your last name" required>
    </div>

    <div class="form-group">
        <label for="birth-date">Birth Date</label>
        <input type="date" class="form-control" id="birth-date" name="birth_date" value="{{ voter['birth_date'] }}" placeholder="yyyy-mm-dd" required pattern="\d{4}-\d{2}-\d{2}">
    </div>

    <div class="form-group">
        <label for="zip-code">ZIP Code</label>
        <input type="number" class="form-control" id="zip-code" name="zip_code"  value="{{ voter['zip_code'] }}" placeholder="Your ZIP code" required>
    </div>

    <button type="submit" class="btn btn-primary">Find Your Ballot</button>
    <span class="mt-2 float-right">
    <small>
        We'll never save this information.
        Read
        <a href="{{ url_for('about') }}">about</a>
        how it's used.
    </small>
    </span>

</form>

{% endblock %}
