{% extends "base.html" %}

{% block content %}

<h1>{{ election['name'] }} ({{ election['date'] }})</h1>

<h2>Precincts</h2>

<ul>
{% for precinct in precincts %}
    <li>
        <a href="{{ url_for('ballot', election_id=election['id'], precinct_id=precinct['id']) }}">
            {{ precinct['county'] }} County,
            {{ precinct['jurisdiction'] }},

            {% if precinct['ward'] %}
            Ward {{ precinct['ward' ]}},
            {% endif %}

            {% if precinct['number'] %}
            Precinct {{ precinct['number'] }}
            {% endif %}
        </a>
    </li>
{% endfor %}
<ul>

{% endblock %}
